<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="b-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-input {
        max-width: 400px;
        margin: auto;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }

      .paperbtn {
          background: #4682B4;
          color: white;
       }
       .paperinput{
          width: 25%;
       }
       .menu{
          width:25%;
       }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Login</h1>

      <iron-form id="login" on-iron-form-response="responseHandler">
        <form enctype="application/json" method="post" action="/users/signin">
          <paper-input name="email" label="Email" required auto-validate>
            <iron-icon icon="mail" slot="prefix"></iron-icon>
          </paper-input>
          <paper-input type="password" name="password" label="Password" required auto-validate>
            <iron-icon icon="lock" slot="prefix"></iron-icon>
          </paper-input>
          <input class="paperbtn" type="submit"/>
        </form>
      </iron-form>

    </div>
  </template>

  <script>
    class BLogin extends Polymer.Element {
      static get is() { return 'b-login'; }

      static get properties() {
        return {
          email: String,
          password: String,
        };
      }

      responseHandler(e) {
        console.log('responseHandler :', e.detail.response);
        var data = e.detail.response;
        if (data.user){

          this.authenticatedUser = data.user
          this.dispatchEvent(new CustomEvent('User.LoggedIn', {
            bubbles: true,
            composed: true,
            detail: {
              user: this.authenticatedUser
            }
          }));
        }
      }
      connectedCallback() {

        super.connectedCallback();
        const login = this.$.login;
        const loginFormSubmit = this.$.loginFormSubmit;

        // Event handlers
        login.addEventListener('iron-form-submit', (event) => {
          console.log('log', JSON.stringify(event.detail))
        });

        login.addEventListener('iron-form-response', function (e) {
            console.log('Form :', e.detail);
        });

        login.addEventListener('iron-form-presubmit', (event) => {
          // event.preventDefault();
          console.log('here');
        });
      }
    }
    function submitForm(event) {
    //   // const loginForm = this.$.loginForm;
    //   document.getElementById('loginForm').submit();
       console.log('submitForm', JSON.stringify(event.detail))
    //   // loginForm.submit();
    }

    window.customElements.define(BLogin.is, BLogin);
  </script>
</dom-module>
