<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="b-signup">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-input {
        max-width: 400px;
        margin: auto;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }

      .paperbtn {
          background: #4682B4;
          color: white;
       }
       .paperinput{
          width: 25%;
       }
       .menu{
          width:25%;
       }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Sign up</h1>

      <iron-form id="signup" on-iron-form-response="responseHandler">
        <form enctype="application/json" method="post" action="/users/signup">
          <div>{{errorMessage}}</div>
          <!-- EMAIL -->
          <paper-input  error-message="Provide a valid email" name="email" label="Email" required auto-validate>
            <iron-icon icon="mail" slot="prefix"></iron-icon>
          </paper-input>
          <!-- PASS -->
          <paper-input maxlength="8" error-message="Provide a valid pass" name="password" label="Password" type="password" required auto-validate>
            <iron-icon icon="lock" slot="prefix"></iron-icon>
          </paper-input>

          <input type="submit"/>
          <!-- <paper-button raised onclick="submitForm(event)">Submit</paper-button> -->
        </form>
      </iron-form>

    </div>
  </template>

  <script>
    class BSignup extends Polymer.Element {
      static get is() { return 'b-signup'; }

      static get properties() {
        return {
          email: String,
          password: String,
          errorMessage: String
        };
      }

      responseHandler(e) {
        console.log('responseHandler :', e.detail.response);
        var data = e.detail.response;
        this.errorMessage = data.error;
      }

      connectedCallback() {

        super.connectedCallback();
      }
    }

    window.customElements.define(BSignup.is, BSignup);
  </script>
</dom-module>
